/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

blockquote {
  padding: 0 1em;
  color: rgba(0, 0, 0, 0.535);
  border-left: 0.25em solid rgba(0, 0, 0, 0.11);
}

